@font-face {
    font-family: 'LufgaItalic';
    src: url('../public/fonts/LufgaLightItalic.ttf') format('opentype');
}

:root {
    --main-color: #0D0D0D;
    --second-color: #252424;
    --third-color: #292929;
    --main-font-color: #f6f5f5;
    --active-font-color: #3A49FF;
    --font-lufgaItalic: 'LufgaItalic';
    --line-color: #a3a3a35e;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 11px;
  }
  .bodydark {
    background-color: var(--main-color);
    color: var(--main-font-color);
  }
  .bodyligh {
    background-color: var( --main-font-color);
    color: var(--main-color);
  }
  /* body {
    background-color: var(--main-color);
  } */

  
  * h1 {
    font-size: 4rem;
    line-height: 1.5;
  }
  * h2 {
    font-size: 1.5rem;
  }
  body::-webkit-scrollbar {
    display: none;
  }