.main {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}

.blur {
  position: absolute;
  top: 50%; 
  left: 28%; 
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background: radial-gradient(ellipse at center, rgb(43, 43, 43) 1%, rgba(255, 255, 255, 0.1) 25%, rgba(202, 202, 202, 0) 100%);
  filter: blur(100px);
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
